# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are Summerized.

**Objectives**
- List popular languages for Data Science
- List libraries for Data Science
- Tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientist include:
1. Matplotlib
2. Pandas
3. Numpy
4. TensorFlow

|Data Science Tools|
|-------------------|
|Apache Spark|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples evaluating arithmetic expressions in python ###

In [4]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = 200/60
hours

3.3333333333333335

## Author

Hetal G.